.main-container{
  width: 30%;
  margin: auto;
  /*margin-top: 30px;*/
  display: grid;
  grid-template-rows: auto auto auto;
  align-content: center;
  border: 1px solid #e9ecec;
  border-radius: 1em;
  background-color: #F7F9F9;
  box-shadow: 1px 1px 8px 1px #D7DBDD;
}
.header{
  margin: 0em;
  text-align: center;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
}
#logo{
  width: 20%;
  margin-top: 1.5em;
  border: 1px solid #e9ecec;
  border-radius: 0.5em;
  transition: 1.8s all;
}
.header p{
  padding: 0em 1.5em;
}
.container{
  height: 3.2em;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
}
.items{
  margin: 1.3em;
  align-self: center;
  text-align: center;
}
.btn-container{
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  margin-top: 2.5em;
}
input[type = "number"]{
  width: 300px;
  margin: auto;
  padding: 0.3em;
  text-align: center;
  font-size: 20px;
  border: 1px solid #5D6D7E;
  border-radius: 20px;
}
/****************/
.grid-button{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 2.5em;
}
input[type = "button"]{
  padding: 0.05em 1em;
  margin:  0px 3px;
  font-size: 15px;
  border: 1px solid #5D6D7E;
  border-radius: 20px;
  cursor: pointer;
}
input[type = "button"]:hover{
  transition: 0.4s ease-in all;
  background-color: #D7DBDD;
  color: #D4AC0D;
}

@media screen and (min-width: 320px),(min-width: 360px), (min-width: 414px) {

  .main-container{
    min-width: 90%;
  }

  .container{
    height: 2.2em;
  }

  input[type = "number"]{
    width: 200px;
    padding: 5px;
    font-size: 15px;
  }
  input[type = "button"]{
    padding: 1px 10px;
    margin:  0px 3px;
    font-size: 14px;
  }

}
@media screen and (min-width: 768px){

  .main-container{
    min-width: 80%;
  }
  .main-container p{
    font-size: 25px;
  }
  .container{
    font-size: 22px;
    height: 2.2em;
  }
  input[type = "number"]{
    width: 300px;
    padding: 8px;
    font-size: 22px;
  }
  input[type = "button"]{
    padding: 1px 10px;
    margin:  0px 3px;
    font-size: 20px;
  }

}
@media screen and (min-width: 1024px){

  .main-container{
    min-width: 50%;
  }
  .main-container p{
    font-size: 27px;
  }
  .container{
    font-size: 15px;
    height: 2.2em;
  }
  input[type = "number"]{
    width: 300px;
    padding: 5px;
    font-size: 20px;
  }
  input[type = "button"]{
    padding: 1px 10px;
    margin:  0px 3px;
    font-size: 15px;
  }

}

